#dayle{
    height: auto;
    width: 550px;
    margin: 200px;
    margin-top: 130px;
}
#seletyle{
    /*position: absolute;*/
    /*top: 50px;*/
    /*left: 10px;*/
}
#inyle{
    position: absolute;
    top: 0px;
    left: 300px;
    width: 300px;
}
#buttyle{
    position: absolute;
    top: 62px;
    left: 620px;
    width: 80px;
}